	body {
	  background-color: #FFE4C4;
	  direction:rtl;
	  color:Black;
	  font-family:Tahoma;
	}
	
	h1 {
	    color:Purple;
	}
	
	h2 {
	    color:Purple;
	}
	
	h3 {
		color:Purple;
	}
	
	h4 {
		color:Purple;
	}
	
	h5 {
		color:Purple;
	}
	
	h6 {
		color:Purple;
	}
	
	p {
	    font-size:12PX;
	}